@import "tailwindcss";
body{
    --tw-bg-opacity: 1;
    background-color: rgb(9 9 11 / var(--tw-bg-opacity));
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


@keyframes starlight-left {
    0% {
        transform: translate(100%)
    }
  
    50%,to {
        transform: translate(-100%)
    }
  }
  
  .animate-starlight-left {
    animation: starlight-left 4s cubic-bezier(.6,.6,0,1) 2s infinite
  }
  
  
  
  @keyframes starlight-right {
    0% {
        transform: translate(-100%)
    }
  
    50%,to {
        transform: translate(100%)
    }
  }
  
  .animate-starlight-right {
    animation: starlight-right 4s cubic-bezier(.6,.6,0,1) infinite
  }